body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#activeVerse {
    width: 179px;
     position: relative;
    top:-73px;
    left:380px;

}
#activeChapter {
    width: 179px;
     position: relative;
    top:-35px;
    left:190px;

}

#activeBook {
    width:179px;
    position: relative;
    top:5px;
    left:0px;
}

#remove_button {
     position: absolute;
     left: 200px;

  }
#deactivate_button {
     position: absolute;
     left: 300px;

  }

#activate_button {
     position: absolute;
     left: 210px;
  }

#divide_button {
	position:relative;
	left: 0px;
	top: -43px;
}

#clear_button {
	position:relative;
	left: 0px;
	top: -57px;
}

#active {
    position: absolute;
    top: 420px;
    left:317px;
    width:530px;
}

#inactive {
    position:absolute;
    top: 420px;
    left:3px;
    width:450px;
}


textarea {
   font-family:"Times New Roman", Times, serif;
   font-size: 16.5px;
   width: 565px;
   color: #005c99;
   font-weight: bold;
}

#bible_text {
	position:relative;
	top: -70px;
    visibility: '';
}

#main_text {
	position:relative;
	top: -140px;
}

#label_texthash{
	position:relative;
	font-size: 12px;
}

#label_mainhash{
	position:relative;
	font-size: 12px;
	}


